<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners Lee</title>
</head>
<body style="background-image:url(https://image.freepik.com/foto-gratis/manzana-habitacion-sucia-pintura-patron_1203-5709.jpg)";>
    <h1>Berners Lee</h1>
    <p><strong>Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web.<br> Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990</strong></p>
    <img src="/img/babbage1.png" alt="" width="500px" height="300px">
    <nav>
        <ul type="disc" >
            <li><a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee" target="_blank">Informacion Adicional</a></li>
            <li><a href="https://www.google.com.ar/search?q=berners+lee&tbm=isch&ved=2ahUKEwjE6KDjrf_wAhXLA7kGHQqXDFAQ2-cCegQIABAA&oq=berners+lee&gs_lcp=CgNpbWcQAzIECAAQQzICCAAyBAgAEB4yBAgAEB4yBggAEAUQHjIGCAAQBRAeMgYIABAFEB4yBggAEAUQHjIGCAAQBRAeMgYIABAFEB46BQgAELEDOggIABCxAxCDAToECAAQGFCSX1jja2DQbGgAcAB4AIABR4gBtAWSAQIxMZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=gtW6YMSfJcuH5OUPiq6ygAU&bih=881&biw=1920" target="_blank">Mas imagenes</a></li>
        </ul>
    </nav>
</body>
</html>