<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image:url(https://image.freepik.com/foto-gratis/manzana-habitacion-sucia-pintura-patron_1203-5709.jpg)";>
    <h1>Hamilton</h1>
    <h2>Margaret Hamilton </h2>
    <p><strong> Hamilton es una científica computacional, matemática e ingeniera de Software.<br> Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, ​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.</strong></p>
    <img src="/img/margaret.jpg" alt="">
    <nav>
        <ul type="disc" >
            <li><a href="https://es.wikipedia.org/wiki/Margaret_Hamilton_(cient%C3%ADfica)" target="_blank">Informacion Adicional</a></li>
            <li><a href="https://www.google.com/search?q=Margaret+Hamilton&safe=active&rlz=1C1SQJL_esAR916AR916&sxsrf=ALeKk02nLPxhk4xRxPidRXxQvzpIj70Dhg:1622857335470&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjKpoHYrv_wAhW2rJUCHX6LDawQ_AUoAXoECAEQAw&biw=1920&bih=881" target="_blank">Mas imagenes</a></li>
        </ul>
    </nav>
</body>
</html>

