<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body style="background-image:url(https://image.freepik.com/foto-gratis/manzana-habitacion-sucia-pintura-patron_1203-5709.jpg)";>
    <h1>Hopper</h1>
    <p><strong>Grace Murray Hopper fue una científica de la computación y militar estadounidense con grado de contraalmirante. <br> Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I</strong></p>
    <img src="/img/GraceHopper2.jpg" width="400px" height="300px" alt="">
    <nav>
        <ul type="disc" >
            <li><a href="https://es.wikipedia.org/wiki/Grace_Murray_Hopper" target="_blank">Informacion Adicional</a></li>
            <li><a href="https://www.google.com/search?q=grace+hopper&tbm=isch&ved=2ahUKEwju9PXsrv_wAhVbuZUCHYKaCuQQ2-cCegQIABAA&oq=grace&gs_lcp=CgNpbWcQARgAMgQIABBDMgQIABBDMgcIABCxAxBDMgUIABCxAzIFCAAQsQMyBQgAELEDMgUIABCxAzICCAAyAggAMgIIADoECCMQJzoHCCMQ6gIQJzoICAAQsQMQgwE6BAgAEANQnq8DWLW3A2C6vwNoAXAAeACAAUWIAf4CkgEBNpgBAKABAaoBC2d3cy13aXotaW1nsAEKwAEB&sclient=img&ei=o9a6YK6XE9vy1sQPgrWqoA4&bih=881&biw=1920&rlz=1C1SQJL_esAR916AR916&safe=active" target="_blank">Mas imagenes</a></li>
        </ul>
    </nav>
</body>
</html>