<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body style="background-image:url(https://image.freepik.com/foto-gratis/manzana-habitacion-sucia-pintura-patron_1203-5709.jpg)";>
    <h1>Index</h1>
    <!--<video src="/img/Nave Espacial De La Nasa - DESPEGUE - AUDIO ORIGINAL.mp4" width=640 height=480 controls poster="vistaprevia.jpg" autoplay=true>
        </video><br>
    <img src="/img/0efbb8115ec5e827982d77197867b37f.gif" alt=""><br>-->
    <img  src="/img/triangle_PNG30.png" width="400px" height="300px" >
    <div>
        <form action="../../form-result.php" target="_blank"></form>
    <nav>
         <ul type = "square">
                <li><a href="http://localhost:3030/babbage">Babbage</a></li>
                <li><a href="http://localhost:3030/berners-lee">Berners lee</a></li>
                <li><a href="http://localhost:3030/clarke">Clarke</a></li>
                <li><a href="http://localhost:3030/hamilton">Hamilton</a></li>
                <li><a href="http://localhost:3030/hopper">Hopper</a></li>
                <li><a href="http://localhost:3030/lovelace">Lovelace</a></li>
                <li><a href="http://localhost:3030/turing">Turing</a></li>
        </ul>

        </nav>
        
    </div>
  
</body>
</html>

<!--<ul type = "square">
    <option><a href="http://localhost:3030/babbage">Babbage</a>>
    <option><a href="http://localhost:3030/berners-lee">Berners lee</a>>
    <li><a href="http://localhost:3030/clarke">Clarke</a></li>
    <li><a href="http://localhost:3030/hamilton">Hamilton</a></li>
    <li><a href="http://localhost:3030/hopper">Hopper</a></li>
    <li><a href="http://localhost:3030/lovelace">Lovelace</a></li>
    <li><a href="http://localhost:3030/turing">Turing</a></li>
</ul>-->


