<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelacet</title>
</head>
<body style="background-image:url(https://image.freepik.com/foto-gratis/manzana-habitacion-sucia-pintura-patron_1203-5709.jpg)";>
    <h1>Lovelace</h1>
    <p><strong>Augusta Ada King, condesa de Lovelace, estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace.<br> fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica.</strong></p>
    <img src="/img/Ada_Lovelace.jpg" width="300px" height="300px" alt="">
    <nav>
        <ul type="disc" >
            <li><a href="https://es.wikipedia.org/wiki/Ada_Lovelace" target="_blank">Informacion Adicional</a></li>
            <li><a href="https://www.google.com/search?q=ada+lovelace&safe=active&rlz=1C1SQJL_esAR916AR916&hl=es&sxsrf=ALeKk00gxbrJbhD_7WAtcOA-5Qizm_G9Ug:1622857512011&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiDy5isr__wAhWHF7kGHZxuD4AQ_AUoAXoECAEQAw&biw=1920&bih=881" target="_blank">Mas imagenes</a></li>
        </ul>
    </nav>
</body>
</html>