<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>
<body style="background-image:url(https://image.freepik.com/foto-gratis/manzana-habitacion-sucia-pintura-patron_1203-5709.jpg)";>
    <h1>Turing</h1>
    <p><strong>Alan Mathison Turing, <b>fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.</b>​​​​​<br> Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna.</strong></p>
    <img src="/img/Alan_Turing_Aged_16.jpg" width="300px" height="300px" alt="">
    <nav>
        <ul type="disc" >
            <li><a href="https://es.wikipedia.org/wiki/Alan_Turing" target="_blank">Informacion Adicional</a></li>
            <li><a href="https://www.google.com/search?q=alan+turing&tbm=isch&ved=2ahUKEwj-v-C0r__wAhUdOLkGHV-BAjEQ2-cCegQIABAA&oq=alan+tu&gs_lcp=CgNpbWcQARgAMgcIABCxAxBDMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAOgQIIxAnOgQIABBDOgUIABCxAzoICAAQsQMQgwFQoNcDWNrbA2CA5ANoAHAAeACAAVKIAecDkgEBN5gBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=Ode6YL6_Op3w5OUP34KKiAM&bih=881&biw=1920&rlz=1C1SQJL_esAR916AR916&safe=active&hl=es" target="_blank">Mas imagenes</a></li>
        </ul>
    </nav>
</body>
</html>